html {
  height: 100vh;
  font-size: 16px;
}
body {
    height: 100%;
    color: #cce0ff;
    background-color: #E8BF0C;
}
/* links */
a {
    text-align: center;
}
/* Google Font */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Audiowide', cursive;
	letter-spacing: 4px;
}
/* header */
h2 {
    color: #f2f2fc;
    /* iPad 27 */
    font-size: 3.5rem;
    padding: 0.4em 0 0 0;
}
/* list items */
h3 {
    font-size: 2rem;
}
p {
    padding-top: 1.2rem;
}
.glyphicon {
    font-size: 3rem;
}
#copyright {
    font-size: 2rem;
}
/* full width main for photos */
#photo-main {
    padding: 0;
}
#svgLink1 {
    padding: 0;
}
#svgLink2 {
    padding: 0;
}
#svgLink3 {
    padding: 0 0.4em;
}
/* iPad 27 */
#myMenu {
    padding: 0 4em 2em 0;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #f2f2fc;
}
.navbar-nav>li>.dropdown-menu {
    font-size: 3rem;
}
.dropdown-menu>li>a:hover {
    background-color: #7c7c7c;
} 
.navbar-nav>li>a {
  padding: 0;
}
.nav-sign {
        width: 20%;
        padding: 0;
}
.nav-tabs {
    display:  -webkit-box;
}
.nav-glyphs {
    padding: 0;
    text-align: center;
}
/* iPad 27 */
ul {
    padding-left: 0;
    width: 100%;
}
main {
    width: 100vw;
    padding: 0 32%;
}
.svg-name {
  display: none;
}
object {
    width: 100%;
}
.svg-list {
    height: 100vh;
    padding: 18em 0;
}
.photo-list {
    height: 100vh;
    /*padding: 12% 24% 6.6% 24%;*/
    padding: 17% 25% 0 25%;
}
.photo-frame {
    background-size: cover;
}