@media screen and (min-width: 768px) and (max-width: 1024) and (min-resolution: 2dppx) {

	/*********************************  
	PORTRAIT 1536 X 2048 2 DDPX
	7.9 INCH iPAD MINI 2 - 4   ~324ppi
	9.7 INCH iPAD AIR  2       ~264ppi
	9.7 INCH iPAD PRO          ~264ppi
	*********************************/
	
	img.img-responsive.svg {
		padding: 7.2222% 0 0 0;
	}	
	p {
		font-size: 2.8rem;
	}
	h1, h2, h3, h4, h5, h6 {
	font-family: 'Audiowide', cursive;	
	}
	h1 {
		font-size: 4.8rem;
	}
	h2 {
		font-size: 4.4rem;
	}
	h3 {
		font-size: 4.0rem;
	}
	header a h1 {
		padding: 32px 0 0 0;
	}
	header h2 {
		padding: 24px 0 24px 0;
	}
	.navbar-fixed-top li {
		padding: 0 16px 32px 16px;
	}
	ul.galleryContent li {
		padding: 24px 32px;
	}
	ul.galleryContent li  h3 {
		display: block;
		padding: 0 20px;
	}
	nav li a h3:hover {
	font-size: 4.0rem;
	}
	#copyright {
		font-size: 3.6rem;
		padding: 2.0000% 0;
		color: grey;
	}
	#photo01 {
		background-image: url(../assets/jpg/2048px-gallery-1.jpg);
	}
	#photo02 {
		background-image: url(../assets/jpg/2048px-gallery-2.jpg);
	}
	#photo03 {
		background-image: url(../assets/jpg/2048px-gallery-3.jpg);
	}
}

@media screen and (min-width: 360px) and (orientation: portrait) and (min-resolution: 3.0dppx) {

	/********************************
	NEXUS  5X 
	********************************/
}

@media screen and (min-width: 412px) and (max-width: 732px) and (min-resolution: 3.5dppx) and (orientation: portrait) {

	/********************************
	NEXUS  6P
	********************************/	

	object {
		padding: 80px 40px;
	}
	li.svg-list {
		padding: 100px 4.858%;
	}
	li.photo-list {
		padding: 28.1588% 4.858% 60.196% 4.858%;
	}
	#photo01 {
		background-image: url(../assets/jpg/1024px-gallery-1.jpg);
		/*center lion*/
		background-position: -60px;
	}
	#photo02 {
		background-image: url(../assets/jpg/1024px-gallery-2.jpg);
	}
	#photo03 {
		background-image: url(../assets/jpg/1024px-gallery-3.jpg);
}