* {
	box-sizing: border-box;
}

body {
	background-color: #505050;
}

main {
	margin: 0;
}

.container {
	width: 100%;
	margin: 0;
	padding:0;
}

.row {
	margin: 0;
	padding:0;
}

.dropdown {
	background-color: lightgray;
}

.dropdown-menu {
	background-color: rgba(254, 254, 254, 0.8);
}

div.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
	text-align: center;
	padding: 0;
}

div.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6 {
	white-space: nowrap;
	display: inline-block;
	padding: 2.5%;
	width: 50%;
}

.open>button.btn.btn-primary.dropdown-toggle {
	width: 36px;
	height: 36px;
	background-color: inherit;
	background-image: url(../assets/icons/burger-drop-up.svg);
	background-repeat: round;
}

button.btn.btn-primary.dropdown-toggle {
	width: 36px;
	height: 36px;
	background-color: inherit;
	padding: 0;
	background-image: url(../assets/icons/burger-drop-down.svg);
	background-repeat: round;
	border: none;
}

button {
	background-color: lightgray;
}

.dropdown-menu>li>a {
	padding: 0 30px;
}

a {
	text-decoration: none;
}

p {
	text-align: center;
	color: grey;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Audiowide', cursive;
	letter-spacing: 4px;
	margin: 0;
}

h1 {
	padding: 4% 20%;
	width: 100%;
	font-size: 2.4rem;
	color: lightgray;
}

h2 {
	font-size: 3.0rem;
	color: lightgray;
	padding: 0;
}

h3 {
	letter-spacing: 2.8px;
	color: grey;
}

header h2 {
	padding: 16px 0 16px 0;
}

header {
	height: auto;
}

header .navbar-fixed-top ul {
	list-style: none; 
}

.navbar-fixed-top {
	text-align: center;
	display: inline-block;
	margin: 0 0 0 0;
	border: none; 
	background-color: #303030;
	height: auto;
}

.navbar-fixed-top li {
	padding: 12px 0 0 0;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.navbar-fixed-top.row {
	background-color: none;
}

ul.dropdown-menu>li.divider {
	margin: 0;
	padding: 2px 0;
}

.navbar-fixed-bottom {
	padding: 0 30px;
	height: auto;
	text-align: center;
	vertical-align: middle;
	border: none;
	background-color: #303030;
}

.navbar-fixed-bottom p {
	padding: 0;
	margin: 0;
}

.navbar-fixed-bottom ul li:nth-child(2) {
	padding: 0 20px;
}

#copyright {
	padding: 3.44% 0;
	color: grey;
}

img.img-responsive {
	max-width: 100%;
	margin:	 0 auto;
}

li.svg-list {
	width: 100%;
	height: 100vh;
	padding: 30% 10% 10% 10%;
}

li.photo-list {
	height: 100vh;
	padding: 46.25% 5% 46.878% 5%;
}

div.photo-frame {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
}

img.img-responsive.photo {
	width:  100%;
	height: 100%;
}

.placeholder {
	height: 100%;
}

ul {
	max-width: 100%;
	display: inline;
	padding: 0;
}

ul.pages {
	margin: inherit;
	padding: 0 0 0 0;
	list-style-type: none;
	display: block;
}

ul.pages li a h3 {
	display: inline-block;
	padding: 0 10%;
}

ul.galleryContent {
	list-style: none;
	margin: 8px 0 0 0;
	display: inline-flex;
}

ul.galleryContent li {
	padding: 0;
}

ul.galleryContent li  h3 {
	display: block;
	padding: 0;
}

a:link {
	text-decoration: none;
}

a h3:link {
	font-size: 1.4rem;
}

a:visited {
	text-decoration: none;
}

a h3:visited {
	color: #alala4;
	font-size: 1.4rem;
}

a:hover {
	text-decoration: none;
}

/*a h3:hover {
	color: #b0e0e6;
	font-size: 1.4rem;
}*/

a:active {
	text-decoration: none;
}

a h3:active {
	color: #ff80b3;
	font-size: 1.4rem;
}

object {
	padding: 25% 10% 20% 10%;
	height: 100vh;
	width:	 100%;
}