/* iPhone 6 plus and smaller devices */
    @media screen and (max-width: 767px) {

    /* TYPE RULES */
        html {
            /* REM ROOT */
            font-size: 8px;
        }
        a {
            font-size: 3rem;
        }
        h2 {
          font-size: 3rem;  
        }
        .glyphicon {
            font-size: 3rem;
        }
        #copyright {
            font-size: 2rem;
        }
        #myMenu {
            padding: 0 0 1rem 0;
            margin: 0;
        }
    /* STATE RULES */
        .navbar-nav {
            padding: 0;
        }
        .navbar-nav .open .dropdown-menu {
            position: absolute;
            z-index: 1000;
            background-color: rgba(124, 124, 124, 0.6);
        }
    /* MEDIA LAYOUT */
        object {
            padding: 0 4em;
        }
        .svg-list {
            padding: 19rem 7rem;
        }
        .photo-list {
            padding: 0;        
        }
        .img-responsive.svg {
            padding: 0;
        }
        .img-responsive.photo {
            padding: 50% 0 0 0;
        }
}

/* iPad PORTRAIT */
@media screen and (max-width: 768px) and (orientation : portrait) {
    
    /* TYPE RULES */
        html {
            /* REM ROOT */
            font-size: 8px;
        }
        .glyphicon {
            font-size: 4rem;
        }
        #copyright {
            font-size: 2rem;
        }
        #myMenu {
            font-size: 3rem;
            padding: 0 16px 8px 0;
        }
        .navbar-nav>li>.dropdown-menu {
            font-size: 3rem;
        }
    /* STATE RULES*/
        .navbar-nav .open .dropdown-menu {
            background-color: rgba(124, 124, 124, 0.6);    
        }
    /* MEDIA LAYOUT */
        object {
            padding: 0 6%;
        }
        .svg-list {
            padding: 19rem 4rem 14rem 4rem;
        }
        .photo-list {
            padding: 0;    
        }
        .img-responsive.photo {
            padding: 37% 2% 37% 2%;
        }
}

/* iPad LANDSCAPE */
@media screen and (max-width: 1024px) and (orientation : landscape) {
    
    /* TYPE RULES */
        html {
            /* REM ROOT */
            font-size: 8px;
        }
        h2 {
            font-size: 3rem;  
        }
        .glyphicon {
            font-size: 4rem;
        }
        #copyright {
            font-size: 3rem;
        }
        #myMenu {
            font-size: 3rem;
            padding: 0 2rem 1rem 0;
        }
        .navbar-nav>li>.dropdown-menu {
            font-size: 3rem;
        }
    /* STATE RULES */
        .navbar-nav {
            padding: 0 2rem 0 0;
        }
        .navbar-nav .open .dropdown-menu {
            background-color: rgba(124, 124, 124, 0.6);
        }
    /* MEDIA LAYOUT */
        object {
            padding: 0 30%;
        }
        .svg-list {
            padding: 8em 20em;   
        }
        .photo-list {
            padding: 18% 24.999%;    
        }
        .img-responsive.photo {
            padding: 0;
        }
}

/* iPad Pro Portrait */
@media screen and (min-width: 1024px) and (min-height : 1366px) and (orientation : portrait) {
    /* TYPE RULES */
        h2 {
            font-size: 3rem;
        }
        .glyphicon {
            font-size: 2.5rem;
        }
        #copyright {
            font-size: 3.4rem;
        }
        #myMenu {
            font-size: 2rem;
            padding: 0 1.25rem 1rem 0;
        }
    /* STATE RULES */
        .navbar-nav {
            padding: 0 1rem 0 0;
        }
        .navbar-nav>li>.dropdown-menu {
            font-size: 2rem;
        }
        .navbar-nav .open .dropdown-menu {
            background-color: rgba(124, 124, 124, 0.6);
        }
    /* MEDIA LAYOUT */
        object {
            padding: 0 4rem;
        }
        .svg-list {
            padding: 25% 3em 18em 3em;
        }
        .photo-list {
            padding: 0;    
        }  
        .img-responsive.photo {
            padding: 37% 2% 37% 2%;
        }
}

/* iPad Pro Landscape */
@media screen and (min-width: 1366px) and (max-height: 1024px) and (orientation : landscape) {
    /* TYPE RULES */
        h2 {
            font-size: 2rem;
        }
        .glyphicon {
            font-size: 2.5rem;
        }
        #copyright {
            font-size: 2rem;
        }
        #myMenu {
            font-size: 2rem;
            padding: 0 1rem 1rem 0;
        }
        .navbar-nav>li>.dropdown-menu {
            font-size: 2rem;
        }
    /* STATE RULES */
        .navbar-nav {
            padding: 0 1rem 0 0;
        }
        .navbar-nav .open .dropdown-menu {
            background-color: rgba(124, 124, 124, 0.6);
        }
    /* MEDIA LAYOUT */
        object {
            padding: 0 24em;
        }
        .svg-list {
            padding: 13em 17em 13em 17em;   
        }
        .photo-list {
            padding: 0;    
        }
        .img-responsive.photo {
            padding: 13% 10% 10% 10%;
        }
}

/* Desktop Landscape */
@media screen and (min-width : 1200px) and (min-height : 720px) and (max-width : 1366px) and (max-height : 900px) and (orientation : landscape) {
    /* TYPE RULES */
        h2 {
          font-size: 3.4rem;  
        }
        .glyphicon {
            font-size: 3.8rem;
        }
        #copyright {
            font-size: 2rem;
        }
        #myMenu {
            font-size: 3.2rem;
            padding: 0 64px 24px 0;
        }
        .navbar-nav>li>.dropdown-menu {
            font-size: 3rem;
        }
    /* STATE RULES */
        .navbar-nav .open .dropdown-menu {
            background-color: rgba(124, 124, 124, 0.6);
    /* MEDIA LAYOUT */
        object {
            padding: 0 30em;
        }
        .svg-list {
            padding: 12em 26em;   
        }
}

/* DESKTKOP LANDSCAPE 1600PX TO 1920PX HD TV */
@media screen and (min-width : 1600px) and (min-height : 900px) and (max-width : 1920px) and (orientation : landscape) {
    /* TYPE RULES */
        html {
            /* REM ROOT */
            font-size: 16px;
        }
        .glyphicon {
            font-size: 2rem;
        }
        #copyright {
            font-size: 2rem;
        }
        #myMenu {
            font-size: 2rem;
            padding: 0 4rem 1.5rem 0;
        }
        .navbar-nav>li>.dropdown-menu {
            font-size: 2rem;
        }
    /* STATE RULES */
        .navbar-nav .open .dropdown-menu {
            background-color: rgba(124, 124, 124, 0.6);
        }
    /* MEDIA LAYOUT */
        object {
            padding: 0 36rem;
        }
        .svg-list {
            padding: 15rem 36rem;        
        }
}