@media screen and (min-width: 412px) and (max-width: 732px) and (min-resolution: 3.5dppx) {

	/********************************
	NEXUS 6P
	1440 X 2560 ~518 ppi 
	********************************/

	.col-lg-6 {
		padding: 2.428%;
	}

	.navbar-fixed-bottom ul li:nth-child(2) {
		padding: 0 64px;
	}
}

@media screen and (max-width: 480px) {

	/*********************************
	iPHONE 1 3G AND 3Gs
	320 X 480
	iPHONE 4 AND 4s
	640 X 960
	PORTRAIT
	*********************************/

	h1 {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.4rem;
	}
	header a h1 {
		padding: 0;
	}
	header h1 {
		padding: 0;
	}
	header h2 {
		padding: 8px 0 8px 0;
	}
}

@media screen and (min-width: 480px) {

	/********************************
	iPHONE 1 3G AND 3Gs
	480 X 320
	iPHONE 4 AND 4s
	960 X 640
	LANDSCAPE
	********************************/

	h3 {
		font-size: 1.1rem;
	}
	main {
		margin: 13.96% 0 0 0;
	}
	object {
		padding: 0 29.168%;
	}
	div.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6 {
		padding: 2.5%;
	}
	#copyright {
	padding: 2.292% 0;
	font-size: 1rem;
	color: grey;
	}
}

@media screen and (min-width: 660px) {

	/*********************************
	9.7 INCH iPAD 
	768 X 1024 
	PORTRAIT
	*********************************/
	
	h3 {
		font-size: 2.2rem;
	}
	header h1 {
		padding: 0;
	}
	main {
		margin: 0;
	}
	object {
		height: 100vh;
		padding: 13.022%;
	}
	li.svg-list {
		padding: 17.448% 9.896% 0 9.896%;
	}
	li.photo-list {
		padding: 30.21% 6.512% 0 6.512%;
	}
	.navbar-fixed-bottom ul li:nth-child(2) {
		padding: 0 124px;
	}
	#copyright {
		font-size: 1.2rem;
	}
	nav li a h3:hover {
		font-size: 2.2rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	/*********************************
	9.7 INCH iPAD 1 AND 2
	1024 X 768 
	LANDSCAPE
	*********************************/

	object {
		padding: 4.884% 29.2982% 0 29.2982%;
	}
	div.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6 {
		padding: 1.172% 0;
	}
	.navbar-fixed-top li {
		padding: 0.098% 3.9074% 1.954% 3.9074%;
	}
	li.svg-list {
		padding: 11.72% 29.2982% 0 29.2982%;
	}
	img.img-responsive.svg {
		padding: 0;
	}
	li.photo-list {
		padding: 0;
	}
	img.img-responsive.photo {
		padding: 0;
	}
	#copyright {
		padding: 1.954%;
		font-size: 1.3rem;
	}
} 

@media screen and (min-width: 768px) and (max-width: 1024) and (min-resolution: 2dppx) {

	/*********************************
	7.9 INCH iPAD MINI 2 326ppi
	7.9 INCH iPAD MINI 4 326ppi  
	9.7 INCH iPAD AIR  2 264ppi
	9.7 INCH iPAD PRO    264ppi
	1536 X 2048
	PORTRAIT
	*********************************/
	
	img.img-responsive.svg {
		padding: 7.2222% 0 0 0;
	}	
	p {
		font-size: 2.8rem;
	}
	h1 {
		font-size: 4.8rem;
	}
	h2 {
		font-size: 4.4rem;
	}
	h3 {
		font-size: 4.0rem;
	}
	header a h1 {
		padding: 32px 0 0 0;
	}
	header h2 {
		padding: 24px 0 24px 0;
	}
	.navbar-fixed-top li {
		padding: 0 16px 32px 16px;
	}
	ul.galleryContent li {
		padding: 24px 32px;
	}
	ul.galleryContent li  h3 {
		display: block;
		padding: 0 20px;
	}
	nav li a h3:hover {
	color: #ff80b3;
	font-size: 4.0rem;
	}
	#copyright {
		font-size: 3.6rem;
		padding: 2.0000% 0;
		color: grey;
	}
}

@media screen and (max-width: 1024px) and (orientation: landscape) and (min-resolution: 2dppx) {

	/*********************************
	9.7 INCH iPAD 3 AND 4
	7.9 INCH iPAD MINI 2 326ppi
	7.9 INCH iPAD MINI 4 326ppi  
	9.7 INCH iPAD AIR  2 264ppi
	9.7 INCH iPAD PRO    264ppi
	2048 X 1536 ACTUAL RESOLUTION
	LANDSCAPE
	*********************************/

	/*img.img-responsive.photo {
		padding: 16% 12%;
	}
	li.svg-list {
		padding: 0;
	}
	img.img-responsive.svg {
		padding: 146px 28.126% 0 28.126%;
	}
	object {
		padding: 146px 28.126% 0 28.126%;
	}*/
}

@media screen and (min-width: 1200px) {

	/*********************************
	MOST DESKTOPS 
	*********************************/

	object {
		padding: 12.012% 8.008% 8.008% 8.008%;
	}
	li.photo-list {
		padding: 10.616% 6.066%;
	}
	img.img-responsive.photo {
		padding: 0;
	}
	li.svg-list {
		padding: 0 22.242%;
	}
	img.img-responsive.svg {
		height: 100%;
		padding: 0 0 80px 0;
	}
}

@media screen and (min-width: 1050px) and (max-width: 1680px) and (orientation: landscape) {

	/*********************************
	15 INCH MAC BOOK PRO LATE 2011
	1680 X 1050
	LANDSCAPE 
	*********************************/

	h1 {
		font-size: 3.48rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 2.56rem;
	}
	header a h1 {
		padding: 0;
	}
	header h1 {
		padding: 0;
	}
	header h2 {
		padding: 8px 0 8px 0;
	}
	.col-lg-6 {
		padding: 2.2680%;
	}
	li.svg {
		padding: 8.81% 29.643% 0 29.643%;
	}
	li.photo-list {
		padding: 0 14.286%;
	}
	img.img-responsive.photo {
		padding: 11% 0;
	}
	.navbar-fixed-bottom ul li:nth-child(2) {
		padding: 24px 124px;
	}
	nav li a h3:hover {
		font-size: 2.56rem;
	}
	#copyright {
		padding: 0.482%;
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 2540px) {
	
	/********************************
	27 INCH iMAC
	2560 X 1440
	LANDSCAPE  
	********************************/

	li.photo-list {
		padding: 0;
	}
	img.img-responsive.photo {
		padding: 6.9188% 20.0476% 0.9828% 20.0476%;
	}
}