@media screen and (max-width: 480px) {

	/*********************************
	comment
	*********************************/

	object {
		width: 84%;
	}

	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	header a h1 {
		padding: 16px 0 0 0;
	}

	header h2 {
		padding: 8px 0 8px 0;
	}
}

@media screen and (min-width: 660px) {

	/*********************************
	comment
	*********************************/
	
	img.img-responsive {
		width: 90%;
	}

	img.img-responsive.svg {
		padding: 26.8888% 0 0 0;
		width: 80%;
	}

	img.img-responsive.photo {
		padding: 40% 0 0 0;
	}

	object {
		padding: 14.8% 0 0 0;
		width: 80%;
	}
}

@media screen and (min-width: 900px) {

	/*********************************
	comment
	*********************************/

	main ul {
		width: 100%;
	}
} 

@media screen and (min-width: 1200px) {

	/*********************************
	comment
	*********************************/

	object {
		width: 47.8%;
	}	
}